/* General Styles */
.header {
    margin: auto;
}
.no-scroll {
    overflow: hidden; 
    height: 100%;    
}
nav {
    display: flex;
    width: 90vw;
    max-width: 1800px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.nav-links {
    margin-top: 10px;
    margin-left: 3vw;
}

.nav-links ul {
    list-style: none;
}

.nav-links a {
    margin: 1vw;
    font-size: 16px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
}

.nav-links ul a:hover {
    color: grey;
    padding-left: 8px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    margin-top: 5px;
    width: 37px;
    height: 27px;
    margin: 3px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: red;
    border-radius: 3px;
    z-index: 1;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(11.8px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: translateY(-11.8px) rotate(-45deg);
}

/* Off-Screen Menu */
.off-screen-menu {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 249, 249, 0.8);
    backdrop-filter: blur(1px);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 100;
}
.off-screen-menu.active {
    right: 0;
}
.off-screen-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.off-screen-menu ul li {
    margin: 20px 0;
}

.off-screen-menu ul li a {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s;
}
.off-screen-menu ul li a:hover {
    color: #ff6347; 
}

/* Contact Button */
.button-contact {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: auto;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Border Line */
.border-line,
.border-line-2 {
    max-width: 100%;
    width: 100%;
    border-top: 1px solid lightgrey;
}

.border-line-2 {
    max-width: 1920px;
}

/* Content-1 */
.content-page-1 {
    width: 100vw;
    max-width: 1920px;
    border-bottom: 1px solid lightgrey;
    overflow: hidden;
}

.banner-1 {
    position: absolute;
    text-align: left;
    margin: 5%;
    margin-top: 100px;
}

.banner-1 h1 {
    font-size: 87px;
}

.banner-1 h1 span {
    color: red;
}

.banner-1 p {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.banner-1 a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FF3D3D;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
}

.wave-pattern {
    display: block;
    margin-left: auto;
    height: 500px;
    position: static;
}

/* Brands Nav */
.container-with-brands {
    max-width: 1920px;
    margin: 10px;
}

.container-with-brands img {
    width: 120px;
    margin: 3vw;
}

/* Content-2 */
.container-page-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}

.content-banner-2 {
    position: absolute;
    margin: 5% 5%;
    height: auto;
    width: 95%;
    max-width: 1800px;
    background-color: #191919;
    border-radius: 10px;
    padding: 60px 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.subscription-box-b2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#title-b2 {
    font-size: 88px;
}

.left-b2,
.right-b2 {
    margin: auto;
}

.right-b2 {
    font-size: 18px;
    line-height: 3.2;
    color: #FFFFFF;
}

.right-b2 li::marker {
    color: red;
    font-size: 15px;
}

.wave-pattern-left {
    margin-right: auto;
    height: 525px;
    object-fit: cover;
}

/* Content-4 */
.content-page-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1920px;
    overflow: hidden;
}

.content-banner-4 {
    position: absolute;
    margin: 5% 5%;
    height: auto;
    width: 95%;
    max-width: 1800px;
    background-color: #191919;
    border-radius: 10px;
    padding: 60px 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.subscription-box-b4 {
    display: flex;
}

.title-b4 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    font-family: "Roboto Condensed", sans-serif;
}

.left-b4,
.right-b4 {
    margin: auto;
}

.right-b4 {
    font-size: 18px;
    line-height: 2;
    color: #FFFFFF;
}

.right-b4 li::marker {
    color: red;
    font-size: 15px;
}

.bottom {
    display: flex;
    color: #FFFFFF;
}

.bottom hr {
    border-radius: 2px;
    margin: 2%;
}

.bottom h4 {
    margin: 3%;
}

/* Wave Patterns */
.wave-pattern-4 {
    margin-right: auto;
    height: 650px;
    object-fit: cover;
}

/* Media Queries */

/* Medium Screens (Max width 1200px) */
@media (max-width: 1200px) {
    #title-b2 {
        font-size: 60px;
    }

    .right-b2 {
        font-size: 14px;
    }

    .banner-1 h1 {
        font-size: 68px;
    }

    .container-with-brands img {
        width: 9vw;
    }

    .wave-pattern-left {
        height: 450px;
    }

    .title-b4 {
        font-size: 40px;
    }

    .right-b4 {
        font-size: 15px;
        line-height: 1.5;
    }

    .bottom h4 {
        font-size: 15px;
    }

    .wave-pattern-4 {
        height: 525px;
    }
}

/* Small Screens (Max width 800px) */
@media (max-width: 800px) {
    .banner-1 h1 {
        font-size: 43px;
    }

    .wave-pattern {
        height: 450px;
    }

    .nav-links {
        display: none;
    }

    .button-contact {
        display: none;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        margin-left: auto;
        z-index: 101;
    }
    .off-screen-menu {
        visibility: visible;
    }
    .off-screen-menu.active {
        visibility: visible;
    }
    .container-with-brands {
        margin-left: 10vw;
    }

    .container-with-brands img {
        width: 20vw;
    }

    .subscription-box-b2 {
        grid-template-columns: 1fr;
    }

    .content-banner-2 {
        padding: 30px 20px;
    }

    .wave-pattern-left {
        height: 550px;
    }

    .content-banner-4 {
        padding: 20px 10px;
    }

    .subscription-box-b4 {
        display: grid;
    }

    .left-b4 {
        margin-right: auto;
    }

    .title-b4 {
        font-size: 35px;
    }

    .right-b4 {
        margin: 3%;
        margin-right: auto;
        font-size: 15px;
    }

    .wave-pattern-4 {
        height: 580px;
    }
}
